# Production configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/trivia
SECRET_KEY=change_me

# Testing configuration
TEST_DATABASE_URL=postgresql://postgres:password@localhost:5432/trivia_test
TEST_SECRET_KEY=change_me_test

POSTGRES_PASSWORD="password"
POSTGRES_USER="postgres"
POSTGRES_DB="trivia"
TEST_POSTGRES_DB="trivia_test"
